<figure class="project card column {{generate_project_placement is_showcase}}">
    <header class="card-header">
        <h3 class="title">{{title}}</h3>
    </header>
    <div class="card-content">
        <p class="card-text">Collaborators: {{{generate_collaborators collaborators}}}</p>
        <ul class="project-links is-flex">
            <li class="project-link project-demo"><a class="button is-link is-outlined" target="_blank" href="{{url}}">Demo</a></li>
            <li class="project-link project-repo">
                <a
                    class="button is-link is-outlined"
                    target="_blank"
                    href={{{generate_repo repo}}}>Repo</a></li>
        </ul>
    </div>
    <hr />
    <div class="card-image">
        <img class="image" src="{{generate_screenshot screenshot}}" alt="${title}" />
    </div>
</figure>